
@font-face {
    font-family: "Open Sans Regular";
    src: url(OpenSans-Regular.woff2);
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url(OpenSans-CondLight.woff2);
}

html {
    background: #f8f8f8;
}

body {
    max-width: 950px;
    margin: 20px auto 20px;
    box-shadow: 0px 0px 2px lightgrey;
    padding: 25px;
    font-family: "Open Sans Regular", sans-serif;
    background: white;
}

header h1 {
    font-size: 250%;
    font-family: "Open Sans Condensed", sans-serif;
    margin-bottom: 0px;
    margin-top: 10px;
}
header h2 {
    font-size: larger;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 28px;
}
header a {
    margin: 3em 5px 0px 5px;
    padding: 5px;
    outline: 1px solid lightgrey;
    float: right;
    text-decoration: none;
}
header a:link {
    color: #444;
}
header a:visited {
    color: #444;
}
section h1 {
    font-size: x-large;
    font-family: "Open Sans Condensed", sans-serif;
}
#overview {
    display: flex;
    flex-flow: row wrap;
    padding: 2%;
}
#introduction {
    font-size: large;
}
#overview .third {
    width: 30%;
    margin: 1%;
}
#overview p {
    width: 100%;
    margin-top: 0px;
}
#overview h1 {
    font-size: x-large;
    font-family: "Open Sans Condensed", sans-serif;
}
.sidebyside {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding: 5px;
}
.sidebyside img {
    object-fit: contain;
    max-width: 50%;
    max-height: 400px;
    margin: 5px;
}
.sidebyside .half {
    width: 50%;
    margin: 5px;
}
#extension h1 {
    font-size: x-large;
    font-family: "Open Sans Condensed", sans-serif;
}
#extension code {
    font-size: larger;
}
#extension ul {
    max-width: 80%;
    margin: auto;
}
.post .title {
    font-size: x-large;
    font-family: "Open Sans Condensed", sans-serif;
    margin-bottom: 0px;
}
.post .date {
    font-size: small;
    font-weight: normal;
    margin-top: 0px;
}
.navigation {
    height: 2em;
}
.navigation .next {
    padding: 5px;
    outline: 1px solid lightgrey;
    float: right;
    text-decoration: none;
}
.navigation .prev {
    padding: 5px;
    outline: 1px solid lightgrey;
    float: left;
    text-decoration: none;
}
.navigation a:link {
    color: #444;
}
.navigation a:visited {
    color: #444;
}
